.notification {
  background-color: rgb(255, 94, 94);
  padding: 18px 40px;
  box-shadow: var(--shadow);
  font-size: 14px;
  font-weight: bold;
  color: white;
  border-radius: 4px;
  transition: .3s;

  position: fixed;
  top: 20px;
  right: 10px;

  translate: calc(100% + 20px) 0;
}

.notification.show {
  translate: 0;
}
